@page
@model MB.Presentation.Pages.EndUser.ArticleDetailsModel
@{
}
<main class="post blog-post col-lg-12">
    <div class="container">
        <div class="post-single">
            <div class="post-thumbnail">
                <img src="@Model.Article.PicSrc" alt="@Model.Article.Title" title="@Model.Article.Title" class="img-fluid">
            </div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="category">
                        <a href="#">@Model.Article.CategoryTitle</a>
                    </div>
                </div>
                <h1>
                    @Model.Article.Title
                    <a href="#">
                        <i class="fa fa-bookmark-o"></i>
                    </a>
                </h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date">
                            <i class="icon-clock"></i> @Model.Article.CreationDate</div>
                        <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                    </div>
                </div>
                <div class="post-body">
                    <p>
                        @Model.Article.ShortDESC
                    </p>
                    @Model.Article.Body
                </div>


               

               
            </div>
        </div>
    </div>
</main>