@page
@model MB.Presentation.Pages.EndUser.ArticleDetailsModel

@{
}
<main class="post blog-post col-lg-12">
    <div class="container">
        <div class="post-single">
            <div class="post-thumbnail">
                <a href="#">@Model.Article.ArticleID</a>
                <a href="#">@Model.Article.Title</a>
                <img src="~/Images/@Model.Article.PicSrc" alt="@Model.Article.PicALT" title="@Model.Article.PicTitle" class="img-fluid">
            </div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="category">
                        <a href="#">@Model.Article.CategoryTitle</a>
                    </div>
                </div>
                <h1>
                    @Model.Article.Title
                    <a href="#">
                        <i class="fa fa-bookmark-o"></i>
                    </a>
                </h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date">
                            <i class="icon-clock"></i> @Model.Article.CreationDate</div>
                        <div class="comments meta-last"><i class="icon-comment"></i>@Model.Article.CommentCount</div>
                    </div>
                </div>
                <div class="post-body">
                    <p>
                        @Model.Article.ShortDESC
                    </p>
                    @Model.Article.Body
                </div>


                <div class="post-comments">
                    <header>
                        <h3 class="h6">Post Comments<span class="no-of-comments">(@Model.Article.CommentCount)</span></h3>
                    </header>
                    @foreach (var comment in Model.Article.Comments)
                    {
                        <div class="comment">
                            <div class="comment-header d-flex justify-content-between">
                                <div class="user d-flex align-items-center">
                                    <div class="image">
                                        <img src="~/img/user.svg" alt="..." class="img-fluid rounded-circle">
                                    </div>
                                    <div class="title">
                                        <strong>@comment.UserName</strong><span class="date">@comment.CreationDate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>@comment.CommentText</p>
                            </div>
                        </div>
                    }

                </div>

                <div class="add-comment">
                    <header>
                        <h3 class="h6">Leave a reply</h3>
                    </header>
                    <form class="commenting-form" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" asp-for="@Model.comment.UserName"  placeholder="Name" class="form-control">
                           
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" asp-for="@Model.comment.Email" placeholder="Email Address (will not be published)" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea asp-for="@Model.comment.CommentText" placeholder="Type your comment" class="form-control"></textarea>
                            </div>
                            <input type="hidden" asp-for="@Model.comment.ArticleID"   value="@Model.Article.ArticleID"/>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-secondary">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>